*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}





header{
    background-image: url(../img/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.header-div{
    width: 100%;
    height: 100%;
    padding: 4rem 10rem
}

.header-informaçoes{
    display: flex;
   justify-content: space-between;
   color:  hsl(0, 5%, 70%);
   width: 100%;
   
 
}






.header-informaçoes ul{
    display: flex;
    gap: 1rem;
    
}



.header-informaçoes ul a {

    color:  hsl(0, 5%, 70%);
    
}


.header-tex{
    margin: 12rem  0px  ;
    border: 2px solid;
    border-color: aliceblue;
    width: 40%;
    height: 40%;
    text-align: center;
    
    

}



.header-tex h1{
    padding: 5rem  ;
    color:  hsl(0, 5%, 70%);
}






.img-main{
   background-image:url(../img/desktop/image-interactive.jpg) ;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
    width: 35rem;
    height: 20rem;
    

}